name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Build Docker image
        run: docker build -t devops-demo .

      - name: Run Docker container
        run: docker run -d -p 8000:8000 --name devops-demo-container devops-demo

      - name: Health check inside container (Python)
        run: |
            docker exec devops-demo-container python -c "
            import requests
            resp = requests.get('http://localhost:8000/health')
            assert resp.status_code == 200
            print('Health check passed!')
            "

      - name: Stop container
        if: always()
        run: docker stop devops-demo-container


      - name: Stop container
        if: always()
        run: docker stop devops-demo-container



